:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --gray-one: rgb(36, 36, 36);
    --accent-one: rgb(76, 216, 216);
}

body {
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}